[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
pytest = "*"
pytest-django = "*"
locust = "*"
django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
autopep8 = "*"
model-bakery = "*"

[requires]
python_version = "3.10"
